.languageSelector {
    display: flex;
    align-items: center;
}

.languageButton {
    background: transparent;
    border: none;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    padding: 4px 6px;
    transition: all 0.2s ease;

    &:hover {
        color: rgba(255, 255, 255, 1);
    }
}

.languageButtonActive {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
}

.separator {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    user-select: none;
}
