@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-weight: 100;
  font-style: normal;
  src: url('./fonts/SpoqaHanSansNeo-Thin.woff2') format('woff2'),
       url('./fonts/SpoqaHanSansNeo-Thin.woff') format('woff'),
       url('./fonts/SpoqaHanSansNeo-Thin.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-weight: 300;
  font-style: normal;
  src: url('./fonts/SpoqaHanSansNeo-Light.woff2') format('woff2'),
       url('./fonts/SpoqaHanSansNeo-Light.woff') format('woff'),
       url('./fonts/SpoqaHanSansNeo-Light.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
       url('./fonts/SpoqaHanSansNeo-Regular.woff') format('woff'),
       url('./fonts/SpoqaHanSansNeo-Regular.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-weight: 500;
  font-style: normal;
  src: url('./fonts/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
       url('./fonts/SpoqaHanSansNeo-Medium.woff') format('woff'),
       url('./fonts/SpoqaHanSansNeo-Medium.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
       url('./fonts/SpoqaHanSansNeo-Bold.woff') format('woff'),
       url('./fonts/SpoqaHanSansNeo-Bold.otf') format('opentype');
  font-display: swap;
}

