@use "@/styles/variables.scss" as *;

.section {
    padding: 60px 48px;
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    text-align: left;
    padding-bottom: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 24px;
    font-weight: 700;
    color: #f5f5f5;
    margin-bottom: 4px;
    line-height: 1.2;
}

.subtitle {
    font-size: 16px;
    font-weight: 300;
    color: #a7aab6;
    line-height: 24px;
}

.steps {
    flex-wrap: wrap;
    margin-bottom: 52px;
    display: flex;
    gap: 40px 0;
}

.step {
    display: flex;
    width: calc(100% / 3 - 11px);
    flex-direction: column;
    padding: 0 24px;
    transition: all $transition-base;
    border-right: 1px solid #353535;
    &:nth-child(3n) {
        border-right: none;
    }
}

.stepNumber {
    font-size: 24px;
    font-weight: 700;
    color: #f5f5f5;
}

.stepContent {
    flex: 1;
}

.stepTitle {
    font-size: 18px;
    font-weight: bold;
    color: #f5f5f5;
    padding-bottom: 8px;
}

.stepDescription {
    font-size: 16px;
    font-weight: 300;
    color: #f5f5f5;
}

.stepDetails {
    font-size: 16px;
    font-weight: 300;
    color: #a9a9a9;
}

.cta {
    text-align: center;
    margin: 0 60px;
}

.ctaButton {
    width: 156px;
    height: 48px;
    display: inline-block;
    background: white;
    color: #131313;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
    font-weight: 700;
}

@media (max-width: $breakpoint-tablet) {
    .section {
        padding: 48px 32px;
    }

    .title {
        font-size: 22px;
    }

    .subtitle {
        font-size: 15px;
        line-height: 22px;
    }

    .steps {
        gap: 32px 0;
        margin-bottom: 40px;
    }

    .step {
        width: calc(100% / 2 - 12px);
        padding: 0 16px;
        border-right: 1px solid #353535;

        &:nth-child(3n) {
            border-right: 1px solid #353535;
        }
        &:nth-child(2n) {
            border-right: none;
        }
    }

    .stepNumber {
        font-size: 22px;
    }

    .stepTitle {
        font-size: 17px;
    }

    .stepDescription {
        font-size: 15px;
    }

    .stepDetails {
        font-size: 15px;
    }

    .cta {
        margin: 0 32px;
    }

    .ctaButton {
        height: 56px;
        font-size: 18px;
    }
}

@media (max-width: $breakpoint-mobile) {
    .header {
        flex-direction: column;
        align-items: center;
        h2,
        p {
            text-align: center;
        }
    }
    .section {
        padding: 40px 24px;
    }

    .title {
        font-size: 20px;
    }

    .subtitle {
        font-size: 14px;
        line-height: 20px;
    }

    .steps {
        gap: 24px 0;
        margin-bottom: 32px;
    }

    .step {
        width: 100%;
        padding: 0;
        border-right: none;
        border-bottom: none;
        padding-bottom: 24px;
        align-items: center;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 50px;
            height: 1px;
            background-color: #353535;
        }
        &:last-child {
            border-bottom: none;
            &::before {
                display: none;
            }
        }

        &:nth-child(2n),
        &:nth-child(3n) {
            border-right: none;
        }
    }

    .stepNumber {
        display: none;
    }

    .stepTitle {
        font-size: 16px;
        text-align: center;
    }

    .stepDescription {
        font-size: 14px;
        text-align: center;
    }

    .stepDetails {
        font-size: 14px;
        text-align: center;
    }

    .cta {
        margin: 0;
    }

    .ctaButton {
        height: 52px;
        font-size: 16px;
        display: none;
    }
}
