@import "@/styles/variables.scss";

.header {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    backdrop-filter: saturate(180%) blur(15px);
    z-index: 100;
    background: rgb(0 0 0 / 30%);
    border-color: rgb(39 38 38);

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 96px;
        padding: 0 48px;
        width: 100%;
    }
    .link {
        width: 156px;
        height: 48px;
        background-color: white;
        color: #131313;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        transition: all 0.3s ease;
    }
}
