@use "@/styles/variables.scss" as *;

.header {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    z-index: 100;
    border-color: rgb(39 38 38);
    transition: transform 0.3s ease-in-out;

    &.visible {
        transform: translateY(0);
    }

    &.hidden {
        transform: translateY(-100%);
    }

    &.scrolled {
        backdrop-filter: saturate(180%) blur(15px);
        background: #0000004d;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 91px;
        padding: 0 48px;
        width: 100%;
    }

    .rightSection {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .link {
        width: 156px;
        height: 48px;
        background-color: white;
        color: #131313;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        transition: all 0.3s ease;
    }
}
@media (max-width: $breakpoint-tablet) {
    .header {
        .container {
            padding: 0 36px;
        }
    }
}
@media (max-width: $breakpoint-mobile) {
    .header {
        .container {
            padding: 0 24px;
        }
    }
}
