@import "@/styles/variables.scss";

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    .logo {
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 96px;
        padding: 0 48px;
    }
    .link {
        width: 156px;
        height: 48px;
        background-color: white;
        color: #131313;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        transition: all 0.3s ease;
    }
}
