.footer {
    height: 184px;
    padding: 0 64px;
    border: 1px solid #353535;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
    }
}
