@use "@/styles/variables.scss" as *;

.footer {
    height: 184px;
    padding: 0 64px;
    border-top: 1px solid #353535;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        > div {
            text-align: right;
        }
    }
}
@media (max-width: $breakpoint-mobile) {
    .footer {
        padding: 0 24px;
        height: 211px;
        .container {
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 36px;
            > div {
                text-align: left;
            }
        }
    }
}
